.Coupons{
    padding: 0px;
    padding-top: 10px;

    background-color: #ffffff;
    height: auto;

    .main-coupon-section{
        min-height: 3rem;
        border-radius: 7px 7px 0px 0px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        border: 1px dashed var(--quick-primary-color);
        border: 1px solid #ececec;
        border-bottom: 0;
        padding: 0px 12px;
        font-size: 15px;
        gap: 8px;
        i {
            color: var(--quick-primary-color);
        }
        input {
            border: 0;
            flex: 1;
            font-size: 14px;
            height: 100%;
            padding: 10px 0;
            &:focus {
                outline: 0;
            }
        }
        span {
            font-size: 13px;
            font-weight: 700;
            cursor: pointer;
        }
        .apply-button{
            color: #000000;
            color: var(--quick-primary-color);
            font-size: 13px;
        }
    }
    .promoted-coupon {
        border: 1px solid #ececec;
        border-top: 0;        
        border-left: 1px dashed #ececec;
        border-right: 1px dashed #ececec;
        background-color: #ffffff;
        font-size: 12px;
        padding: 7px 12px;
    }
    .view-coupons{
        border-radius: 0px 0px 10px 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        border: 1px dashed #ececec;
        border: 1px dashed var(--quick-primary-color);
        border: 1px solid #ececec;
        border-top: 0;
        background-color: #f9f9f9;
        font-size: 13px;
        padding: 6px 12px 6px 12px;
        font-weight: 700;
        cursor: pointer;
        gap: 3px;
        i {
            font-size: 10px;
        }
        .available-coupons-count{
            font-weight: 500;
            font-size: 13px;
        }
        .view-coupons-text{
            font-size: 13px;
        }
    }
}